thead,
tbody,
tr,
td,
th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 600px;
    overflow-y: auto;
}

tbody td,
thead th {
    width: 50%;
    float: left;
}

#justBar {
    width: 100%;
    float: left;
}