<h1>Gestion de Courriers</h1>



<div class="row">
    <table id="example" class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">

            <tr>
                <th scope="col" [appSort]="etudiants" data-order="desc" data-name="ine">INE</th>
                <th scope="col" [appSort]="etudiants" data-order="desc" data-name="nom">Nom</th>
                <th scope="col" [appSort]="etudiants" data-order="desc" data-name="prenom">Prenom</th>
                <th scope="col" [appSort]="etudiants" data-order="desc" data-name="mail">@mail</th>
                <th scope="col" [appSort]="etudiants" data-order="desc" data-name="chambre">Chambre</th>
                <th scope="col" [appSort]="etudiants" data-order="desc" data-name="petiteEnveloppe">Petites enveloppes</th>
                <th scope="col" [appSort]="etudiants" data-order="desc" data-name="grandeEnveloppe">Grandes enveloppes</th>
                <th scope="col" [appSort]="etudiants" data-order="desc" data-name="avisPassage">Avis de passages</th>
                <th scope="col" [appSort]="etudiants" data-order="desc" data-name="colis">Colis</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let etu of etudiants  let i = index">



                <td>

                    <div class="text-center">{{ etu.ine }}</div>
                </td>
                <td>
                    <div class="text-center">{{ etu.nom }}</div>
                </td>
                <td>
                    <div class="text-center">{{ etu.prenom}}</div>
                </td>
                <td>
                    <div class="text-center">{{ etu.mail}}</div>
                </td>
                <td>
                    <div class="text-center">{{ etu.chambre}}</div>
                </td>
                <td>
                    <div class="text-center"><input [(ngModel)]="etudiants[i].petiteEnveloppe" type="number" id="inputSpinPetitEnvloppe" value='{{ etu.petiteEnveloppe}}' min="0" class="col-md-4"> </div>
                </td>
                <td>
                    <div class="text-center"><input [(ngModel)]="etudiants[i].grandeEnveloppe" type="number" id="inputGrandeEnveloppe" value='{{ etu.grandeEnveloppe}}' min="0" class="col-md-4"></div>
                </td>
                <td>
                    <div class="text-center"><input [(ngModel)]="etudiants[i].avisPassage" type="number" id="inputAvisPassage" value='{{ etu.avisPassage}}' min="0" class="col-md-4"></div>
                </td>
                <td>
                    <div class="text-center"><input [(ngModel)]="etudiants[i].colis" type="number" id="inputSpinColis" value='{{ etu.colis}}' min="0" class="col-md-4"></div>
                </td>
                <td tyle="width: 5.0%">
                    <div class="text-center">

                        <button class="btn btn-sm btn-dark">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </button> &nbsp;

                        <button (click)="updateEtudiant(i)" class="btn btn-sm btn-dark">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>&nbsp;

                        <button (click)="updateEtudiantZeroCourrier(i)" class="btn btn-warning btn-sm">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button> s

                    </div>
                </td>
            </tr>

        </tbody>

    </table>



</div>