#Encours {
    color: blue;
    font-style: oblique;
}

#Recolu {
    color: green;
    font-style: oblique;
}

#NonTraite {
    color: red;
    font-style: oblique;
}

.mat-radio-group {
    position: absolute;
    margin-left: 20px;
    bottom: 0px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #77D353;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(66, 134, 244);
    background-color: #77D353;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(255, 37, 37, .26);
}

#img-incident {
    height: 250px;
    width: 500px;
}

tbody td,
thead th {
    width: 20%;
    float: left;
}

th {
    text-align: center;
}

.fa-unsorted {
    margin-left: 20px;
}