<h1>Gestion d'incidents</h1>

<div class="row">
    <table id="example" class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">

            <tr>
                <th scope="col" [appSort]="incidents" data-order="desc" data-name="motif">Incident</th>
                <th scope="col" [appSort]="incidents" data-order="desc" data-name="lieu">Lieu</th>
                <th scope="col" [appSort]="incidents" data-order="desc" data-name="date">Date</th>
                <th scope="col" [appSort]="incidents" data-order="desc" data-name="resident">Résident</th>
                <th scope="col" [appSort]="incidents" data-order="desc" data-name="etat">État</th>




            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let incident of incidents " (click)="openXl(content, incident)">
                <td>{{ incident?.motif}}</td>
                <td>{{ incident?.lieu}}</td>
                <td>{{ incident?.date}}</td>
                <td>{{ incident?.etudiant.ine}}</td> 
                <td [ngSwitch]="incident.etat">
                    <div id="Encours" *ngSwitchCase="1">En cours</div>
                    <div id="Recolu" *ngSwitchCase="2">Résolu</div>
                    <div id="NonTraite" *ngSwitchDefault>Non traité</div> 
                </td>
                

            </tr>

        </tbody>

    </table>



</div>


<ng-template #content let-modal>
    <div class="modal-header" style="background-color: #EEEEEE;">
      
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <h4>{{incident?.motif}}</h4>
                <p>{{incident?.description}}</p>
                <div class="row">
                    <mat-radio-group aria-label="Select an option">

                        <div [ngSwitch]="incident.etat">
                            <div id="1" *ngSwitchCase="1">
                                <mat-radio-button value="0" (change)="radioChange($event,0)">Non traité</mat-radio-button>
                                <mat-radio-button value="1" (change)="radioChange($event,1)" checked>En cours</mat-radio-button>
                                <mat-radio-button value="2" (change)="radioChange($event,2)" >Résolu</mat-radio-button>
                            </div>
                            <div id="1" *ngSwitchCase="2">
                                <mat-radio-button value="0" (change)="radioChange($event,0)">Non traité</mat-radio-button>
                                <mat-radio-button value="1" (change)="radioChange($event,1)" >En cours</mat-radio-button>
                                <mat-radio-button value="2" (change)="radioChange($event,2)" checked>Résolu</mat-radio-button>
                            </div>
                            <div id="1" *ngSwitchDefault>
                                <mat-radio-button value="0" (change)="radioChange($event,0)" checked>Non traité</mat-radio-button>
                                <mat-radio-button value="1" (change)="radioChange($event,1)" >En cours</mat-radio-button>
                                <mat-radio-button value="2" (change)="radioChange($event,2)">Résolu</mat-radio-button>
                            </div>
                        </div>
                       
                    </mat-radio-group>
                </div>
            </div>
            <div class="col">
                <img id="img-incident" src="../../assets/crous.jpg" class="img-fluid"/>
            </div>

        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
    </div>
  </ng-template>
  